<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>判断大学等级</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
					<h1>判断大学等级</h1>
					<input type="text" v-model="name" />
					<li v-if="name=='清华大学'">985、211大学</li>
					<li v-if="name=='北京大学'">985、211大学</li>
					<li v-if="name=='复旦大学'">985、211大学</li>
					<li v-if="name=='上海交通大学'">985、211大学</li>
					<li v-if="name=='中国科学技术大学'">985、211大学</li>
					<li v-if="name=='南京大学'">985、211大学</li>
					<li v-if="name=='浙江大学'">985、211大学</li>
					<li v-if="name=='中国人民大学'">985、211大学</li>
					<li v-if="name=='同济大学'">985、211大学</li>
					<li v-if="name=='北京航空航天大学'">985、211大学</li>
					<li v-if="name=='浙江大学医学院'">985、211大学</li>
					<li v-if="name=='南开大学'">985、211大学</li>
					<li v-if="name=='哈尔滨工业大学'">985、211大学</li>
					<li v-if="name=='北京理工大学'">985、211大学</li>
					<li v-if="name=='西安交通大学'">985、211大学</li>
					<li v-if="name=='中国人民大学'">985、211大学</li>
					<li v-if="name=='华中科技大学'">985、211大学</li>
					<li v-if="name=='北京师范大学'">985、211大学</li>
					<li v-if="name=='武汉大学'">985、211大学</li>
					<li v-if="name=='国防科技大学'">985、211大学</li>
					<li v-if="name=='天津大学'">985、211大学</li>
					<li v-if="name=='东南大学'">985、211大学</li>
					<li v-if="name=='哈尔滨工业大学'">985、211大学</li>
					<li v-if="name=='电子科技大学'">985、211大学</li>
					<li v-if="name=='厦门大学'">985、211大学</li>
					<li v-if="name=='中山大学'">985、211大学</li>
					<li v-if="name=='华南理工大学'">985、211大学</li>
					<li v-if="name=='华东师范大学'">985、211大学</li>
					<li v-if="name=='电子科技大学'">985、211大学</li>
					<li v-if="name=='中央财经大学'">985、211大学</li>
					<li v-if="name=='中国政法大学'">985、211大学</li>
					<li v-if="name=='四川大学'">985、211大学</li>
					<li v-if="name=='中南大学'">985、211大学</li>
					<li v-if="name=='西北工业大学'">985、211大学</li>
					<li v-if="name=='重庆大学'">985、211大学</li>
					<li v-if="name=='山东大学'">985、211大学</li>
					<li v-if="name=='哈尔滨工业大学'">985、211大学</li>
					<li v-if="name=='北京交通大学'">985、211大学</li>
					<li v-if="name=='吉林大学'">985、211大学</li>
					<li v-if="name=='暨南大学'">985、211大学</li>
					<li v-if="name=='兰州大学'">985、211大学</li>
					<li v-if="name=='东华大学'">211大学</li>
					<li v-if="name=='南京理工大学'">211大学</li>
					<li v-if="name=='大连理工大学'">211大学</li>
					<li v-if="name=='西安电子科技大学'">211大学</li>
					<li v-if="name=='武汉理工大学'">211大学</li>
					<li v-if="name=='北京邮电大学'">211大学</li>
					<li v-if="name=='北京化工大学'">211大学</li>
					<li v-if="name=='华中师范大学'">211大学</li>
					<li v-if="name=='上海外国语大学'">211大学</li>
					<li v-if="name=='北京科技大学'">211大学</li>
					<li v-if="name=='中国传媒大学'">211大学</li>
					<li v-if="name=='湖南大学'">211大学</li>
					<li v-if="name=='北京外国语大学'">211大学</li>
					<li v-if="name=='北京工业大学'">211大学</li>
					<li v-if="name=='华东理工大学'">211大学</li>
					<li v-if="name=='上海大学'">211大学</li>
					<li v-if="name=='中央民族大学'">211大学</li>
					<li v-if="name=='山东大学威海分校'">211大学</li>
					<li v-if="name=='北京邮电大学'">211大学</li>
					<li v-if="name=='空军军医大学'">211大学</li>
					<li v-if="name=='东北大学'">211大学</li>
					<li v-if="name=='华北电力大学'">211大学</li>
					<li v-if="name=='中国海洋大学'">211大学</li>
					<li v-if="name=='苏州大学'">211大学</li>
					<li v-if="name=='河海大学'">211大学</li>
					<li v-if="name=='江南大学'">211大学</li>
					<li v-if="name=='南京师范大学'">211大学</li>
					<li v-if="name=='西北大学'">211大学</li>
					<li v-if="name=='大连理工大学'">211大学</li>
					<li v-if="name=='西南大学'">211大学</li>
					<li v-if="name=='华北电力大学'">211大学</li>
					<li v-if="name=='东北大学秦皇岛分校'">211大学</li>
					<li v-if="name=='西南交通大学'">211大学</li>	
				</div>
				<script type="text/javascript">
					let v=new Vue({
						el:'#app',
						data:{
							name:''
						}
					})
				</script>
	</body>
</html>